<html ng_app>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="css\style.css" >
	<script src="/static/js/angular.min.js"></script>
</head>
<body ng-app="web_terminal" ng-controller="f">
<div id="wrap">
	<div id="screen">
		<div ng-repeat="com in coms">
			<div>
				{$user$}@{$host$}:{$pwd$}$ {$com.inp$}
			</div>
			<div>
				{$com.oup$}
			</div>
		</div>
		<div>{$user$}@{$host$}:{$pwd$}$ {$inp$}</div>
	</div>
	<div id="InputWrap">
		<input type="text" ng-model="inp" />
		<button ng-click="submit()">submit</button>
	</div>
	<script src="/static/js/web_terminal.js"></script>
</div>
</body>
</html>
